<div class="starter-template">
        <h1><%= pageTitle %></h1>
        <p class="lead">User Page View</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
           <ul>
             <li>ID: <%= user.id %></li>
             <li>NAME: <%= user.name %></li>
             <li>EMAIL: <%= user.email %></li>
             <li>GENDER: <%= user.gender %></li>
           </ul>
          </div>
        </div>
      </div>